@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <storng style="text-align:center">Home page of future Tinder Clone Web APP :)</storng>
</div>
