@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <strong style="text-align:center">Home page of future Tinder Clone Web APP :)</strong>

    <a href ="/GoogleOAuth/RedirectOnOAuthServer/">Sign In</a>
</div>
