/* Body styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

/* Container styles */
.container {
    max-width: 600px;
    margin: 0 auto;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

#profile-form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.form-group {
    margin-bottom: 20px;
}

/* Label styles */
label {
    display: block;
    font-weight: bold;
}

/* Input and select styles */
input[type="text"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Textarea styles */
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Multi-select tag container styles */
.hobby-container {
    margin-bottom: 20px;
}

/* Multi-select tag styles */
.multi-select-tag-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.multi-select-tag-item {
    display: inline-block;
    background-color: #f0f0f0;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 5px;
}

/* File input styles */
input[type="file"] {
    width: 100%;
    padding: 10px;
}

/* Button styles */
button {
    padding: 10px 20px;
    background-color: pink;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: pink;
}
