@page
@using Ryzhanovskyi.University.Tinder.Models.Auth
@model Ryzhanovskyi.University.Tinder.Web.Pages.Auth.RegisterModel

@{
    ViewData["Title"] = "Register";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 card p-4">
            <h2 class="text-center text-info mb-4">Register</h2>

            <form asp-action="Register" method="post">
                <div asp-validation-summary="ModelOnly" class="mb-3"></div>

                <div class="mb-3">
                    <label asp-for="UserRequest.Email"></label>
                    <input asp-for="UserRequest.Email" class="form-control" />
                    <span asp-validation-for="UserRequest.Email" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="UserRequest.Username"></label>
                    <input asp-for="UserRequest.Username" class="form-control" />
                    <span asp-validation-for="UserRequest.Username" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="UserRequest.Password"></label>
                    <input type="password" asp-for="UserRequest.Password" class="form-control" />
                    <span asp-validation-for="UserRequest.Password" class="text-danger"></span>
                </div>

                <div class="d-flex justify-content-between align-items-center">
                    <a href="Login" class="text-decoration-none">Already have an Account?</a>
                    <input type="submit" value="Register" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
